h1 Welcome to Service Workers
h3 This is yours to own. Enjoy.

div.push-enabling 
  label.push-switch.mdl-switch.mdl-js-switch.mdl-js-ripple-effect(for="push-switch") 
    input#push-switch.mdl-switch__input(type="checkbox" disabled) 
    span.mdl-switch__label Enable Push Notifications
