h1 Push Notification Demo

div.push-enabling 
  label.push-switch.mdl-switch.mdl-js-switch.mdl-js-ripple-effect(for="push-switch") 
    input#push-switch.mdl-switch__input(type="checkbox" disabled) 
    span.mdl-switch__label Enable Push Notifications

br
br

div#pushNotifications.not-subcribed.notification-details
  button#sendPushAjax.mdl-button.mdl-js-button.mdl-button--raised.mdl-js-ripple-effect Send Push Notification
  h4 Or Copy And Paste The cURL Command Below Into Your Terminal
  code#curlCommand
